.percentage-bar{
    position: relative;
    background-color: #ddd;
    height: 16px;
    width: 280px;
    border-radius: 3px;
}

.percentage{
    border-radius: 3px 0 0 3px;
    position: absolute;
    height: 16px;
    background-color: #6DA9E4;
}

@media screen and (max-width: 480px) {
    .percentage-bar {
      height: 12px;
      max-width: 200px;
    }
  
    .percentage {
      height: 12px;
    }
  }