.reviews {
    background-color: blanchedalmond;
    padding: 0 2%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.review-text {
    padding-top: 10px;
}

.review-title {
    font-size: 1.5em;
    font-weight: bold;
}

.general {
    padding-top: 10px;
}

.info {
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: lightgrey;
    height: 50px;
    width: 25%;
}
